<div class="module-wrapper">
  <div class="module module-register">
    <div class="module-header">
      <h1 class="module-title page-title">{{ 'customer.register.header' | t }}</h1>
    </div>
    <div class="module-body">
      <div class="module-content">
        {% include 'customer-fields' %}
      </div>
    </div>
  </div>
</div>


