<div class="password-content module-wrapper">
  <div class="module page {% if page.content == blank %}no-content{% endif %}">
    	<h1>Puppy Gang Fresh Foods is coming soon!</h1>
      {% form 'storefront_password' %}

        {{ form.errors | default_errors }}

        <label for="password">Enter store using password:</label>
        <input type="password" name="password">
        <input type="submit" value="Enter">

      {% endform %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Password Page",
  "settings": [
  ]
}
{% endschema %}
